<ion-header [translucent]="true">
  <ion-content class="body">
  <ion-toolbar>
    <ion-title class="titulo" bg="dark">
      {{ Os tiras }}
    </ion-title>
  </ion-toolbar>
  <ion-card *ngFor="let serie of series">
    <ion-card-header>
      <ion-card-title bg="warning">{{ serie.titulo }}</ion-card-title>
      <ion-card-subtitle bg="medium">{{ serie.subtitulo }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div>
        <ion-img [src]="serie.capa"></ion-img>
      </div>
      {{ serie.texto }}
    </ion-card-content>
  </ion-card>
  <ion-chip [disabled]="true">
    <ion-label>Disabled Chip</ion-label>
  </ion-chip>
  <ion-badge color="primary">3</ion-badge>
</ion-content>



